
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">

      <app-loading *ngIf="productosSvc.cargando"></app-loading>

      <div *ngIf="!productosSvc.cargando" class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">

        <a *ngFor="let producto of productosSvc.productos" routerLink="/item" class="animate__animated animate__fadeIn rk-item ae-masonry__item"><img src="assets/productos/{{ producto.url }}.jpg" alt="">
          <div class="item-meta">
            <h2>{{ producto.titulo }}</h2>
            <p>{{ producto.categoria }}</p>
          </div>
        </a>

      </div>
    </section>
